body {
  font-size: .32rem;
  padding: 0;
  margin: 0;
}

.border-bottom {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
  }
}
