$baseGreen: #0f9183 !default;
$baseBlack: #333 !default;
$baseGray: #999 !default;
$minorGray: #b2b2b2 !default;
$baseRed: #f99c91 !default;
$minorRed: #ffd9c4 !default;
$baseBrown: #d5be88 !default;
